{% extends "base_template.html" %}

{% block title %} Change Password {% endblock %}

{% block content %}

    <h2>Change Password: </h2>
    <br>
    <form action="user" method="post">
        <div class="mb-3">
            <label for="CURRENT_PASSWORD" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="CURRENT_PASSWORD" name="passw" placeholder="Enter Your Current Password">
        </div>
        <div class="mb-3">
            <label for="NEW_PASSWORD" class="form-label">New Password</label>
            <input type="password" class="form-control" id="NEW_PASSWORD" name="new_passw" placeholder="Enter Your New Password">
        </div>
        <div class="mb-3">
            <label for="CONFIRM_NEW_PASSWORD" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="CONFIRM_NEW_PASSWORD" name="confr_passw" placeholder="Confirm your New Password">
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>

{% endblock %}