<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <!-- Using Jinja2 templating engine -->


    <h1>{{ greet }}</h1>


    {%  for i in var  %}
        {%  if i=="their"  %}
            <p>there</p>
        {%  else  %}
        <p>{{ i }}</p>
        {%  endif  %}
    {%  endfor  %}

    <h3>
        {%  for i in var  %}
            {%  if i=="their"  %}
                there!
            {%  else  %}
                {{ i }}
            {%  endif  %}
        {%  endfor  %}
    </h3>
</body>
</html>