{% extends "base_template.html" %}
{% block title %} Login Page {% endblock %}

{% block content %}

    <h2>Login Page: </h2>
    <br>
    <form action="#" method="post">
        <div class="mb-3">
          <label for="NAME" class="form-label">Name</label>
          <input type="text" class="form-control" id="NAME" name="nm">
        </div>
        <div class="mb-3">
          <label for="EMAIL" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="EMAIL" aria-describedby="emailHelp" name="eml">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>

{% endblock %}