{% extends "base_template.html" %}
{% block title %} Register Page {% endblock %}

{% block content %}

    <h2>Register Page: </h2>
    <br>

    <form action="#" method="post">
        <div>
            Name: <input type="text" name="nm" placeholder="Enter Your Name">
        </div>
        <br>
        <div>
            Email: <input type="text" name="eml" placeholder="Enter Your Email">
        </div>
        <br>
        <div>
            <button class="btn btn-outline-primary" type="submit">Register</button>
        </div>
        <br>
        <div>
            Already have an account? <a href="/login" class="link-primary" >Sign in</a>
        </div>
</form>

{% endblock %}